gi# Папки сборки
MDK0101_Group8_project/bin/Debug/
MDK0101_Group8_project/obj/Debug/

# Файлы, специфичные для пользователя
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.log
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
_ReSharper.*
packages/
